/* h1{
    color:pink;
    text-decoration: dashed;
    font-size: 40px;
}

h1:hover{
    font-size: 60px;
    transition: all 1s;
    color:aquamarine;
}

h2{
    color:palevioletred;
}

h2:hover{
    font-size: 40px;
    transition: all 1s;
    color:aqua
} */

#outer{

height: 100px;
background:hotpink;

}

#inner{
    height: 50%;
    width: 50%;
    background: plum;
}

body {
    background-image: url('https://img.freepik.com/premium-vector/y2k-seamless-pattern-with-chess-distorted-checkered-vector-background-trendy-retro-psychedelic_651519-365.jpg');
    background-repeat: repeat;
}